 
body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    line-height: 1;
}

ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Sessão Menu*/

section.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0% 160px;
  padding: 40px 0%;
}

header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.menu__list__item {
  color: var(--color-font-black);
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.menu__list__item:hover {
  color: black;
  font-weight: bold;
}

.menu__list__item:nth-child(6) {
  font-weight: bold;
}

.btn {
  background-color: var(--cor-de-fundo-destaque);
  color: var(--color-font-black);
  padding: 10px 40px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border-radius: 30px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-white-hover);
  color: var(--color-font-black);
}

/*Sessão Title*/

section.title {
  display: flex;
  justify-content: space-between;
  margin: 0% 160px;
  padding: 40px 0%;
  gap: auto;
}

.title__photo {
  display: flex;
  align-self: center;
  border-radius: 50%;
  width: 300px;
}

.title__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title__bio {
  font-size: 52px;
  font-weight: bold;
}

.title__subsection {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
}

.title__network {
  display: flex;
  gap: 32px;
  padding: 0;
  width: 20px;
  border: 1px;
}

.title__network__item {
  color: var(--color-font-black);
  font-size: 16px;
  font-weight: 700;
}

.btn__network {
  width: 600px;
  border: 2px solid black;
  padding: 10px 40px;
  border-radius: 30px;
}

.btn__network:hover {
  background-color: var(--color-white-hover);
}

/*Sessão About*/

section.about {
  margin: 0% 0% 36px 0%;
  background-color: var(--cor-de-fundo-destaque);
  height: 450px;
  width: auto;
  display: flex;
  justify-content: flex-start;
}

.about__container {
  margin: 0% 160px;
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.about__title {
  color: var(--color-font-black);
  font-size: 32px;
}

.about__paragraph {
  color: var(--color-font-black);
  font-size: 16px;
  line-height: 1.2;
}

/* Sessão Skills*/

section.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.skills__title {
  font-size: 32px;
  font-weight: bold;
}

.skills__line {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.skills__card ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--cor-de-fundo-destaque);
  height: 160px;
  width: 160px;
  padding-left: 16px;
  padding-bottom: 16px;
  border-radius: 10%;
}

.skills__name {
  color: var(--color-font-black);
  font-weight: bold;
}

/*Sessão Hobbies*/

section.hobbies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 88px;
  margin-bottom: 88px;
}

.hobbies__title {
  font-size: 32px;
  font-weight: bold;
}

.hobbies__line {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hobbies__card ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--cor-de-fundo-destaque);
  height: 160px;
  width: 160px;
  padding-left: 16px;
  padding-bottom: 16px;
  border-radius: 10%;
}

.hobbies__name {
  color: var(--color-font-black);
  font-weight: bold;
}

section.academic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-de-fundo-destaque);
  width: auto;
  height: 619px;
  gap: 32px;
}

.academic__courses {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
}

.academic__courses__item__img__gran {
  background-color: var(--cor-de-fundo);
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
}

.academic__title {
  color: var(--color-font-black);
  font-size: 32px;
  font-weight: bold;
}

.academic__courses__item__img {
  background-color: var(--cor-de-fundo);
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.academic__courses__item__title {
  color: var(--color-font-black);
  font-weight: bold;
  font-size: 22px;
  width: 368px;
  overflow-wrap: break-word;
}

.academic__courses__item__subtitle {
  color: var(--color-font-black);
  font-weight: 400;
}

.academic__courses__list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.academic__logo {
  width: 160px;
  height: 160px;
}

.experience {
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: var(--cor-de-fundo);
  width: auto;
  height: 400px;
}

.experience__title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 48px;
}

.experience__title__work {
  font-size: 28px;
  font-weight: 500px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.experience__btn {
  margin-top: 16px;
}

.experience__card__image {
  width: 280px;
  height: 140px;
}

section.formcontato {
  display: flex;
  justify-content: center;
  background-color: var(--cor-de-form);
  width: auto;
  padding: 64px 64px 64px 64px;
}

.formcontato__contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 64px 0% 64px 0%;
}

.formcontato__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formcontato__title {
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
}

.subtext {
  margin-bottom: 32px;
}

.formcontato__subtext {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.formcontato__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.formcontato__input {
  background-color: var(--cor-branca);
  width: 656px;
  height: 36px;
  text-align: start;
  border-style: none none outset none;
  border-color: var(--cor-borda);
  border-width: 0.4px;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  padding-left: 12px;
  padding-bottom: 20px;
}

.formcontato__input:nth-child(1),
.formcontato__input:nth-child(2) {
  font-size: 16px;
}

.formcontato__textarea {
  width: 656px;
  height: 123px;
  border-style: none none outset none;
  border-color: var(--cor-borda);
  border-width: 1px;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  padding-left: 12px;
  padding-top: 10px;
}

.formcontato__botao {
  background-color: var(--cor-azul);
  color: var(--cor-branca);
  border: none;
  width: 165px;
  height: 51px;
  text-align: center;
  font-weight: 200;
  cursor: pointer;
}

/*footeer*/

section.footer {
  background-color: var(--cor-branca);
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 102px;
}

.footer__rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: 0.875em;
}

@media (max-width: 1137px) {
  /*menu */

  .menu {
    gap: 20px;
    align-items: center;
  }

  .menu__list {
    display: none;
  }

  .menu__title {
    font-size: 16px;
  }

  .btn {
    background-color: var(--cor-de-fundo-destaque);
    color: var(--cor-de-fundo);
    padding: 10px 40px;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
  }

  /* title */

  .title__div {
    gap: 30px;
  }

  .title__bio {
    font-size: 42px;
  }

  .title__subsection {
    font-size: 18px;
  }

  .title__network {
    gap: 19px;
  }

  .title__network__item {
    font-size: 14px;
  }

  /* skills */

  .skills__card ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 8px;
    background-color: var(--cor-de-fundo-destaque);
    height: 144px;
    width: 146px;
    padding-left: 16px;
    padding-bottom: 16px;
  }

  .hobbies__card ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 8px;
    background-color: var(--cor-de-fundo-destaque);
    height: 144px;
    width: 146px;
    padding-left: 16px;
    padding-bottom: 16px;
  }

  /* Sobre */

  .about {
    width: auto;
  }

  /* formações */

  section.academic {
    height: 480px;
    width: 100vw;
  }

  .academic__courses {
    gap: 23px;
  }

  .academic__courses__item__img__gran {
    width: 238px;
    height: 176px;
    margin-top: 20px;
  }

  .academic__courses__item__img {
    width: 238px;
    height: 176px;
  }

  .academic__courses__item__title {
    width: 238px;
  }

  /* Experiência */

  .experience__img {
    width: 444px;
    height: 264px;
  }

  .experiencie__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-bottom: 65px;
    line-height: 1;
  }

  /* Contato */

  .subtext {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  section.formcontato {
    display: flex;
    justify-content: center;
    background-color: var(--cor-de-form);
    width: auto;
    padding: 0%;
  }

  .formcontato__subtext {
    width: 316px;
    overflow-wrap: break-word;
  }

  .formcontato__input {
    background-color: var(--cor-branca);
    width: 316px;
    height: 36px;
    text-align: start;
    border-style: none none outset none;
    border-color: var(--cor-borda);
    border-width: 0.4px;
    border-radius: 4px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    padding-left: 12px;
    padding-bottom: 20px;
  }

  .formcontato__textarea {
    width: 316px;
    height: 123px;
    border-style: none none outset none;
    border-color: var(--cor-borda);
    border-width: 1px;
    border-radius: 4px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    padding-left: 12px;
    padding-top: 10px;
  }
}

/*Tablet*/

@media (max-width: 768px) {
  /* Menu */

  section.menu {
    display: flex;
    justify-content: space-between;
    margin: 0% 32px;
    padding: 16px 0% 16px;
  }

  .menu__list {
    display: none;
  }

  /*title*/

  section.title {
    margin: 32px 32px 0% 32px;
    padding: 0% 0% 0% 0%;
  }

  .title__profile {
    width: 146px;
    height: 146px;
  }

  .title__container {
    gap: 8px;
  }

  .title__bio {
    font-size: 22px;
  }

  .title__subsection {
    font-size: 16px;
    padding: 10px;
  }

  /* About */

  section.about {
    margin: 32px 0% 32px 0%;
    height: 380px;
    width: max-content;
  }

  .about__container {
    margin: 0% 32px;
    justify-content: flex-start;
    padding: 32px 0% 0% 0%;
  }

  .about__title {
    font-size: 22px;
  }

  .about__paragraph {
    font-size: 14px;
    line-height: 1.2;
  }

  section.skills {
    margin: 0% 32px 32px 32px;
  }

  .skills__line {
    flex-wrap: wrap;
    gap: 32px 16px;
    justify-content: start;
  }

  .skills__title {
    justify-content: center;
    font-size: 22px;
  }

  .skills__card ul {
    width: 328px;
    height: 102px;
  }

  section.hobbies {
    margin: 32px 32px 32px 32px;
  }

  .hobbies__line {
    flex-wrap: wrap;
    gap: 32px 16px;
    justify-content: start;
  }

  .hobbies__title {
    font-size: 22px;
  }

  .hobbies__card ul {
    width: 328px;
    height: 102px;
  }

  /* .hobbies__card:nth-child(1) > ul {
        width: 688px;
    } */

  /*Experiências acadêmicas*/

  section.academic {
    margin: auto;
    height: 310px;
  }

  .academic__title {
    font-size: 22px;
  }

  .academic__courses {
    gap: 16px;
    margin: 0% 32px 0% 32px;
  }

  .academic__courses__list {
    gap: 8px;
  }

  .academic__courses__item__img__gran {
    width: 224px;
    height: 118px;
    margin-top: 20px;
  }

  .academic__courses__item__img__gran > img {
    width: 83px;
    height: 64px;
  }

  .academic__courses__item__img {
    width: 224px;
    height: 118px;
    margin-top: 20px;
  }

  .academic__courses__item__img > img {
    width: 83px;
    height: 64px;
  }

  .academic__courses__item__title {
    font-size: 16px;
    width: 224px;
  }

  .academic__courses__item__subtitle {
    font-size: 14px;
  }

  .academic__courses__box:nth-child(3) > ul > li {
    margin-top: 0%;
  }

  .academic__courses__box:nth-child(3) {
    padding-top: 3px;
  }

  /*Expeirência profissional*/

  .experience__section__title {
    font-size: 22px;
  }

  .experiencie__box {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 16px;
    margin: 0% 32px 64px 32px;
    line-height: 1;
  }

  .experiencie__box:nth-child(3) {
    flex-direction: column;
  }

  .experience__img {
    width: 704px;
    height: 320px;
  }

  .experience__title {
    font-size: 16px;
  }

  .experience__text {
    font-size: 14px;
  }

  .experiencia__botao--repo {
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-verde);
    width: 108px;
    height: 40px;
    font-size: 14x;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    border: 1px solid var(--color-white-hover);
    cursor: pointer;
  }

  .experiencia__botao--demo {
    background-color: var(--color-white-hover);
    color: var(--cor-de-branco);
    width: 98px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
  }

  /* Form */

  section.formcontato {
    justify-content: start;
  }

  .formcontato__contacto {
    margin: 0% 32px 32px 32px;
    padding: 64px 0% 0% 0%;
    justify-content: flex-start;
    gap: 0%;
  }

  .formcontato__img {
    display: none;
  }

  .formcontato__input {
    width: 692px;
  }

  .formcontato__textarea {
    width: 692px;
  }

  .formcontato__subtext {
    width: auto;
  }
}

/*Mobile*/

@media (max-width: 425px) {
  /*Menu*/
  section.menu {
    display: flex;
    justify-content: space-around;
    margin: 0% 32px;
    padding: 16px 0% 16px;
  }

  .btn {
    background-color: var(--cor-de-fundo-destaque);
    color: var(--cor-de-fundo);
    padding: 6px 20px;
    font-size: 13px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
  }

  /*Titulo*/

  .title__div {
    flex-direction: column;
    justify-content: flex-start;
  }

  .title__profile {
    align-self: flex-start;
  }

  .title__subsection {
    line-height: 1.2;
    font-size: 14px;
  }

  /*Sessão sobre*/

  section.about {
    height: 590px;
  }

  /*Skills*/

  section.skills {
    justify-content: center;
    align-items: center;
  }

  .skills__line {
    justify-content: center;
  }

  .skills__box ul {
    width: 140px;
    height: 102px;
  }

  /*Hobbies*/

  section.hobbies {
    justify-content: center;
  }

  .hobbies__line {
    justify-content: center;
    align-items: center;
  }

  .hobbies__box ul {
    width: 140px;
    height: 102px;
  }

  .hobbies__box:nth-child(1) > ul {
    width: 140px;
    height: 102px;
  }

  .hobbies__box:nth-child(3) > ul {
    width: 312px;
    height: 102px;
  }

  /*Formação Acadêmica*/

  section.academic {
    height: 696px;
    width: 100vw;
  }

  .academic__courses {
    flex-direction: column;
  }

  .academic__courses__item__img__gran {
    width: 296px;
    height: 118px;
    margin-top: 0%;
  }

  .academic__courses__item__img__gran > img {
    width: 87px;
    height: 71px;
  }

  .academic__courses__item__img {
    width: 296px;
    height: 118px;
    margin-top: 0%;
  }

  .academic__courses__item__img > img {
    width: 87px;
    height: 71px;
  }

  .academic__courses__item__title {
    font-size: 16px;
    width: 296px;
  }

  /*Experiência Profissional*/

  .experience__section__title {
    font-size: 22px;
  }

  .experience__img {
    width: 296px;
    height: 159px;
  }

  .experiencie__box {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 16px;
    margin: 0% 32px 64px 32px;
    line-height: 1;
    width: 300px;
  }

  .experiencie__box:nth-child(3) {
    flex-direction: column;
  }

  .experience__title {
    font-size: 16px;
    width: 296px;
  }

  .experience__text {
    font-size: 14px;
    width: 296px;
  }

  .experiencia__botao--repo {
    background-color: var(--cor-de-fundo);
    color: var(--color-white-hover);
    width: 108px;
    height: 40px;
    font-size: 14x;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    border: 1px solid var(--color-white-hover);
    cursor: pointer;
  }

  .experiencia__botao--demo {
    background-color: var(--color-white-hover);
    color: var(--cor-de-branco);
    width: 98px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
  }

  /*Contato*/

  section.formcontato {
    justify-content: center;
  }

  .formcontato__input {
    background-color: var(--cor-branca);
    width: 316px;
    height: 36px;
    text-align: start;
    border-style: none none outset none;
    border-color: var(--cor-borda);
    border-width: 0.4px;
    border-radius: 4px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    padding-left: 12px;
    padding-bottom: 20px;
  }

  .formcontato__textarea {
    width: 316px;
    height: 123px;
    border-style: none none outset none;
    border-color: var(--cor-borda);
    border-width: 1px;
    border-radius: 4px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    padding-left: 12px;
    padding-top: 10px;
  }

  .formcontato__subtext {
    width: 328px;
  }

  /*Footer*/

  .footer__rodape > p {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  /*Menu*/
  section.menu {
    display: flex;
    justify-content: space-around;
    margin: 0% 32px;
    padding: 16px 0% 16px;
  }

  .btn {
    background-color: var(--cor-de-fundo-destaque);
    color: var(--cor-de-fundo);
    padding: 6px 20px;
    font-size: 13px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
  }

  /*Titulo*/

  .title__div {
    flex-direction: column;
    justify-content: flex-start;
  }

  .title__profile {
    align-self: flex-start;
  }

  .title__bio {
    font-size: 20px;
  }

  .title__subsection {
    line-height: 1.2;
    font-size: 12px;
  }

  .title__network__item {
    font-size: 12px;
  }

  /*Sessão sobre*/

  section.about {
    height: 720px;
  }

  /*Skills*/

  section.skills {
    justify-content: center;
    flex-flow: column;
    align-items: center;
  }

  .skills__line {
    justify-content: center;
  }

  .skills__box ul {
    width: 260px;
    height: 102px;
  }

  /*Hobbies*/

  section.hobbies {
    justify-content: center;
  }

  .hobbies__line {
    justify-content: center;
    align-items: center;
  }

  .hobbies__box ul {
    width: 260px;
    height: 102px;
  }

  .hobbies__box:nth-child(1) > ul {
    width: 260px;
    height: 102px;
  }

  .hobbies__box:nth-child(3) > ul {
    width: 260px;
    height: 102px;
  }

  /*Formação Acadêmica*/

  section.academic {
    height: 696px;
    width: auto;
  }

  .academic__courses {
    flex-direction: column;
  }

  .academic__courses__item__img__gran {
    width: 296px;
    height: 118px;
    margin-top: 0%;
  }

  .academic__courses__item__img__gran > img {
    width: 87px;
    height: 71px;
  }

  .academic__courses__item__img {
    width: 296px;
    height: 118px;
    margin-top: 0%;
  }

  .academic__courses__item__img > img {
    width: 87px;
    height: 71px;
  }

  .academic__courses__item__title {
    font-size: 16px;
    width: 296px;
  }

  /*Experiência Profissional*/

  .experience__section__title {
    font-size: 22px;
  }

  .experience__img {
    width: 296px;
    height: 159px;
  }

  .experiencie__box {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 16px;
    margin: 0% 32px 64px 32px;
    line-height: 1;
    width: 300px;
  }

  .experiencie__box:nth-child(3) {
    flex-direction: column;
  }

  .experience__title {
    font-size: 16px;
    width: 296px;
  }

  .experience__text {
    font-size: 14px;
    width: 296px;
  }

  .experiencia__botao--repo {
    background-color: var(--cor-de-fundo);
    color: var(--color-white-hover);
    width: 108px;
    height: 40px;
    font-size: 14x;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    border: 1px solid var(--color-white-hover);
    cursor: pointer;
  }

  .experiencia__botao--demo {
    background-color: var(--color-white-hover);
    color: var(--cor-de-branco);
    width: 98px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
  }

  section.formcontato {
    justify-content: center;
    width: 100vw;
  }

  .formcontato__contacto {
    justify-content: center;
    align-items: center;
  }

  .formcontato__text {
    width: 296px;
  }

  .formcontato__subtext {
    width: 296px;
  }

  .formcontato__input {
    background-color: var(--cor-branca);
    width: 286px;
    height: 26px;
    text-align: start;
    border-style: none none outset none;
    border-color: var(--cor-borda);
    border-width: 0.4px;
    border-radius: 4px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    padding-left: 12px;
    padding-bottom: 20px;
  }

  .formcontato__textarea {
    width: 286px;
    height: 123px;
    border-style: none none outset none;
    border-color: var(--cor-borda);
    border-width: 1px;
    border-radius: 4px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    padding-left: 12px;
    padding-top: 10px;
  }

  /*Footer*/
  .footer__rodape > p {
    font-size: 16px;
  }
}
